body {
  max-width: 1200px;
  margin: 0 auto;
  background: #150433;
}
.nav {
  font-size: 50px;
}
.nav__title {
  margin-left: 300px;
  color: white;
  margin-bottom: 30px;
}
.nav__item {
  margin: 20px 50px 30px 50px;
  color: white;
}
a {
  text-decoration: none;
}
