.row {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.column {
  width: 380px;
  height: 20px;
  text-align: center;
  border: 1px solid black;
  background: red;
}
.item {
  background: blue;
}
.item-one {
  background: pink;
}
.item-two {
  background: green;
}
.item-three {
  background: brown;
}
.item-four {
  background: silver;
}
.item-five {
  background: rebeccapurple;
}
.item-six {
  background: royalblue;
}
.item-seven {
  background: fuchsia;
}
.item-eight {
  background: greenyellow;
}
.item-nine {
  background: burlywood;
}
.item-ten {
  background: olivedrab;
}
/*  Media queries*/

@media (min-width: 768px) {
  .column-12-sm {
    width: calc((100% - 20px) / 4);
  }
  .column-4-md {
    width: calc((100% - 20px) / 4);
  }
  .column-2-md {
    width: calc(50% - 8px);
  }
  .column-6-md {
    width: calc((100% / 3) - 6px);
  }
  .column-3-md {
    width: calc((100% / 2) - 8px);
  }
  .column-3-lg {
    width: calc((100% * 10 / 12) - 16px);
  }
  .column-9-lg {
    width: calc(100% / 6);
  }
  .column-10-md {
    width: calc((100% / 3) - 14px);
  }
  .column-10-md-2 {
    width: calc((100% * 8 / 12) - 3px);
  }
  .column-12-lg {
    width: calc((100%) - 14px);
  }
  .column-5-md {
    width: calc((100% * 5 / 12) - 1px);
  }
  .column-2-1-md {
    width: calc((100% * 8 / 12) - 14px);
  }
  .column-5-1-md {
    width: calc((100% * 2 / 12) - 2px);
  }
  .column-3-1-lg {
    width: calc((100% * 3 / 12) - 5px);
  }
}
@media (min-width: 1366px) {
  .column-12-sm {
    width: calc((100% - 24px) / 12);
  }
  .column-4-md {
    width: calc((100% - 8px) / 4);
  }
  .column-2-md {
    width: calc((100% - 4px) / 2);
  }
  .column-6-md {
    width: calc((100% / 6) - 2px);
  }
  .column-2-lg {
    width: calc((100% * 10 / 12) - 4px);
  }
  .column-10-lg {
    width: calc(100% / 6);
  }
  .column-3-lg {
    width: calc((100% * 9 / 12) - 4px);
  }
  .column-9-lg {
    width: calc(100% / 4);
  }
  .column-10-1-lg {
    width: calc((100% / 10) - 2px);
  }
  .column-12-lg {
    width: calc(100%);
  }
  .column-8-lg {
    width: calc((100% * 7 / 12) - 4px);
  }
  .column-4-lg {
    width: calc((100% * 5 / 12) - 1px);
  }
  .column-11-1-lg {
    width: calc((100% * 11 / 12) - 6px);
  }
  .column-1-1-lg {
    width: calc((100% * 1 / 12) - 1px);
  }
  .column-2-1-lg {
    width: calc((100% * 2 / 12) - 9px);
  }

  .column-5-lg {
    width: calc((100% * 5 / 12) - 1px);
  }
  .column-3-1-lg {
    width: calc((100% * 3 / 12) - 3px);
  }
}
