.header {
  font-family: Open Sans;
  font-size: 27px;
  margin-left: 98px;
  grid-area: hd;
  display: flex;
  align-items: flex-end;
  margin-top: 108px;
}
.box {
  grid-area: sd;
}
.about {
  grid-area: main;
}

.container {
  background: #150433;
  max-width: 1146px;
  margin: 0 auto;
  color: white;
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-areas:
    "hd hd hd hd   hd   hd   hd   hd   "
    "sd sd sd sd   main main main main";
}

.box {
  margin-top: 55px;
  margin-left: 98px;
}

.about {
  margin-top: 55px;
  margin-left: 30px;
}
.box__input {
  text-indent: 18px;
  margin-bottom: 30px;
  width: 362px;
  height: 54px;
}
.box__input_active {
  width: 558px;
  height: 234px;
  text-indent: 50px;
}
.about__button {
  margin-top: 54px;
  width: 215px;
  height: 54px;
  border: none;
  background: #f61067;
  border-radius: 36px;
  font-family: Open Sans;
  color: #fcfcfc;
  font-size: 13.5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 128px;
}
.box__text {
  font-family: Open Sans;
  margin-bottom: 25px;
  font-size: 12.6px;
  font-weight: 800;
  letter-spacing: 6px;
  text-transform: uppercase;
}

textarea::placeholder {
  font-size: 16.2px;
  padding-top: 36px;
  padding-left: 54px;
  opacity: 0.5;
}
::placeholder {
  font-family: Open Sans;
  font-size: 16.2px;
  text-indent: 18px;
  color: #9b94a3;
  opacity: 0.5;
  padding-top: 20px;
}
